<h1 class="text-center my-3"><%= @restaurant.name %></h1>

<div class="container text-center py-3">
    <p>Adress: <%= @restaurant.address %></p>
    <p>Phone number: <%= @restaurant.phone_number %></p>
    <p>Category: <%= @restaurant.category %></p>
</div>

<div class="card">
  <h2>Review</h2>
  <% @reviews  %>
  <p><%=  %></p>
</div>
